html{font-size: 10px; box-sizing: border-box;}

a{text-decoration: none; display:block}

p{font-size: 1.6rem;}

img{width:100%; max-width: 100%; height:auto;}

section{padding:8rem 0;}

body{background-color: cornflowerblue;}

